<template name="home">
  <div class="page home">

    {{>nav title='Local Market' black=true}}


      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-local.svg" alt="Local Market"/>
        </h1>
      </div>




      <a href="{{pathFor 'feed'}}" class="btn-primary">Sign up</a>
      <a href="{{pathFor 'recipes'}}" class="btn-primary">Sign up with twitter</a>
      <a href="{{pathFor 'recipes'}}" class="btn-primary">Sign up with facebook</a>


  </div>
</template>